---
layout: layouts/base.njk
title: "Gallery"
description: "A collection of my favorite travel photos from around the world."
permalink: /en/gallery/
---

<div class="page-header">
  <h1 class="page-header__title">{{ i18n[locale].gallery }}</h1>
</div>

<div class="gallery-grid">
  <div class="gallery-item">
    <img src="/uploads/blog/taj-mahal.png" alt="Taj Mahal, India" loading="lazy">
    <div class="gallery-item__caption">Taj Mahal, India</div>
  </div>
  <div class="gallery-item">
    <img src="/uploads/blog/tokyo-sakura.jpg" alt="Cherry Blossoms, Tokyo" loading="lazy">
    <div class="gallery-item__caption">Cherry Blossoms, Tokyo</div>
  </div>
  <div class="gallery-item">
    <img src="/uploads/blog/taj-mahal.png" alt="Agra Fort, India" loading="lazy">
    <div class="gallery-item__caption">Agra Fort, India</div>
  </div>
  <div class="gallery-item">
    <img src="/uploads/blog/tokyo-sakura.jpg" alt="Shinjuku Gyoen, Tokyo" loading="lazy">
    <div class="gallery-item__caption">Shinjuku Gyoen, Tokyo</div>
  </div>
</div>
