---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {%- for page in collections.all %}
  {%- if not "/admin/" in page.url %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | dateToISO }}</lastmod>
    {%- set otherLocale = "vi" if page.data.locale == "en" else "en" %}
    <xhtml:link rel="alternate" hreflang="{{ page.data.lang }}" href="{{ site.url }}{{ page.url }}" />
    <xhtml:link rel="alternate" hreflang="{{ otherLocale }}" href="{{ site.url }}{{ page.url | localeUrl(otherLocale) }}" />
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
